:root {
    /* Defining colors and fonts */
    --bg-color: #1B2631;
    --text-color: #EEEEEE;
    --text-font: 'Noto Sans TC', sans-serif;
    --title-font: 'Quicksand', sans-serif;
    background-color: var(--bg-color);
}