@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Color */
    --bg-color: #1B2631;
    --text-color: #EEEEEE;
    --navbar-color: #212F3D;
    --section-color: #212F3C;
    --speed-color: #2196F3;
    --stamina-color: #E53935;
    --power-color: #FF9800;
    --guts-color: #EC407A;
    --wisdom-color: #43A047;
    --friend-color: #FFB300;
    --group-color: #AFB42B;
    --purple-color: #6A1B9A;
    --toggle-color: #1B4F72;
    --ssr-color: linear-gradient(150deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    --sr-color: linear-gradient(150deg, hsla(58, 100%, 68%, 1) 0%, hsla(33, 100%, 53%, 1) 100%);
    --r-color: linear-gradient(150deg, hsla(218, 32%, 80%, 1) 0%, hsla(212, 35%, 58%, 1) 100%);
    /* Font */
    --text-font: 'Noto Sans TC', 'Quicksand', sans-serif;
    --title-font: 'Quicksand', sans-serif;
    /* Size */
    --item-gap: 10px;
    --item-radius: 15px;
    --section-padding: 20px;

    background-color: var(--bg-color);
    max-width: 100vw;

    font-family: var(--text-font);
}

a {
    text-decoration: none;
}

body {
    margin: 0 0 0 0;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--item-gap);
    align-items: stretch;
}

.navbar {
    background-color: var(--navbar-color);

    padding-right: var(--item-gap);

    width: 100%;
    height: 12vh;
    min-height: 75px;
    max-height: 90px;
    position: fixed;
    top: 0;
    
    display: flex;
    align-content: space-between;
    gap: var(--item-gap);

    z-index: 99;
}

.navbar a {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_icon {
    -webkit-filter: invert();
    filter: invert();

    height: 70%;
}

.nav_title {
    font-size: 50px;
    color: white;

    display: flex;
    align-items: center;
    transform: translateY(-3%);

    padding-left: 15px;
}

.main {
    margin-top: var(--item-gap);
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 15px;
    padding-top: 20px;

    background-color: #17202A;

    border-radius: var(--item-radius);
}

.search {
    vertical-align: middle;

    font-size: 25px;

    border: 1px solid #34495E;
    border-radius: var(--item-radius);
    padding-left: 15px;
    padding-top: 5px;
}

.toggle {
    font-family: var(--text-font);
    font-size: 25px;
    color: white;

    border: 1px solid white;
    border-radius: 30px;

    padding-left: 15px;
    padding-right: 15px;
    margin-right: var(--item-gap);
}

.toggle:hover {
    /* Change color when hovered */
    filter: brightness(110%);
}

/* Class for toggled button, add shadow */
.selected {
    box-shadow: inset 3px 5px 3px #00000077;
}